In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Importando datos

In [2]:
# sample_sub= pd.read_csv(r'C:\Users\omarh\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic_comment\data\sample_submission.csv')
# test = pd.read_csv(r'C:\Users\omarh\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic_comment\data\test.csv')
# test_labels = pd.read_csv(r'C:\Users\omarh\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic_comment\data\test_labels.csv')
# train = pd.read_csv(r'C:\Users\omarh\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic_comment\data\train.csv')




sample_sub = pd.read_csv(r'C:\Users\ramos\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic\data\sample_submission.csv')
test = pd.read_csv(r'C:\Users\ramos\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic\data\test.csv')
test_labels = pd.read_csv(r'C:\Users\ramos\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic\data\test_labels.csv')
train = pd.read_csv(r'C:\Users\ramos\Documents\Tripleten\Proyectos_after_bootcamp\NLP\jigsaw_toxic\data\train.csv')

**Descripción de los archivos:**
* **train.csv** - Set de entrenamiento, contiene comentarios con sus etiquetas binarias
* **test.csv** - Set de prueba, vamos a predecir las probabilidades de clase para la toxicidad de estos comentarios.
* **sample_submission.csv** un ejemplo de archivo de presentación en el formato correcto
* **test_labels.csv** etiquetas para los datos de prueba; valor de **-1** indica que no fue usado para la evaluación

In [3]:
test['comment_text'].iloc[10]

'I think its crap that the link to roggenbier is to this article. Somebody that knows how to do things should change it.'

# EDA

## Explorando datos y columnas

**En el dataset tenemos un gran número de comentarios extraidos de Wikipedia que fueron etiquetado por humanos para comportamiento tóxico, los timpos de toxicidad son:**

* toxic
* severe_toxic
* obscene
* threat
* insult
* identity_hate

In [4]:
train[train.id=='f9b25ccdab72e094']['comment_text'].iloc[0]

'"\n\nAnd western reports are? You\'re a biased fuck. So, the US, UK, or France can claim whatever casualties they want... thats fine, but when Libya claims to have caused casuatlies you immediately lable it ""unreliable"" and remove it? Your bias is showing asswipe... cover it up before you stain Wikipedia\'s name even more.- AGSman61"'

In [5]:
display(train.info())
display(train.describe())
display(train.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             159571 non-null  object
 1   comment_text   159571 non-null  object
 2   toxic          159571 non-null  int64
 3   severe_toxic   159571 non-null  int64
 4   obscene        159571 non-null  int64
 5   threat         159571 non-null  int64
 6   insult         159571 non-null  int64
 7   identity_hate  159571 non-null  int64
dtypes: int64(6), object(2)
memory usage: 9.7+ MB

None

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000
mean,0.095844,0.009996,0.052948,0.002996,0.049364,0.008805
std,0.294379,0.099477,0.223931,0.054650,0.216627,0.093420
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0

In [6]:
len(train)

159571

In [16]:
#Verificando balance de etiquetas (clases)
col_labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']

toxic =  round(train['toxic'].mean() * 100, 2)
severe_toxic = round(int(train[train['severe_toxic']==1]['severe_toxic'].sum()) * 100 / len(train),2)
obscene = round(int(train[train['obscene']==1]['obscene'].sum()) * 100 / len(train),2)
threat = round(int(train[train['threat']==1]['threat'].sum()) * 100 / len(train),2)
insult = round(int(train[train['insult']==1]['insult'].sum()) * 100 / len(train),2)
identity_hate = round(int(train[train['identity_hate']==1]['identity_hate'].sum()) * 100 / len(train),2)

# non_labeled = int(train[train['identity_hate']==0]['identity_hate'].sum()) * 100 / len(train)


# round(int(train[train['toxic']==1]['toxic'].sum()) * 100 / len(train['toxic']),2)

# # int(train[train.isin(col_labels)])
# (train[col_labels] ==1 ).all(axis=1).sum()

In [17]:
toxic

np.float64(9.58)

In [9]:
train[train['toxic']==1]['toxic'].sum()

np.int64(15294)

In [50]:
train[train.isin(col_labels)]

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
159566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
(train[col_labels] ==1 ).all(axis=1).sum()

np.int64(31)

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             159571 non-null  object
 1   comment_text   159571 non-null  object
 2   toxic          159571 non-null  int64
 3   severe_toxic   159571 non-null  int64
 4   obscene        159571 non-null  int64
 5   threat         159571 non-null  int64
 6   insult         159571 non-null  int64
 7   identity_hate  159571 non-null  int64
dtypes: int64(6), object(2)
memory usage: 9.7+ MB

In [34]:
int(train[(train[col_labels] == 0).all(axis=1)]['id'].count())

143346

In [35]:
int((train[col_labels] ==1 ).any(axis=1).sum())

16225

In [28]:
mask_any_zero = int((train[col_labels] ==1 ).any(axis=1).sum())
mask_any_zero

16225

In [ ]:
# int(train[train['identity_hate']==0]['identity_hate'].sum()) * 100 / len(train)
(train[col_labels]==1).any(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
159566    False
159567    False
159568    False
159569    False
159570    False
Length: 159571, dtype: bool

In [13]:
train[(train[col_labels] == 0).all(axis=1)]

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
159566,ffe987279560d7ff,""":::::And for the second time of asking, when ...",0,0,0,0,0,0
159567,ffea4adeee384e90,You should be ashamed of yourself \n\nThat is ...,0,0,0,0,0,0
159568,ffee36eab5c267c9,"Spitzer \n\nUmm, theres no actual article for ...",0,0,0,0,0,0
159569,fff125370e4aaaf3,And it looks like it was actually you who put ...,0,0,0,0,0,0
159570,fff46fc426af1f9a,"""\nAnd ... I really don't think you understand...",0,0,0,0,0,0